<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <a class="navbar-brand" href="#">
                <div class="form-inline">
                    <img id="logo" src="../assets/img_tree.png" class="center-block"> <h2 class="mainTitle">B O O K S T O R E</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">

                <div class="navbar-nav mr-auto mt-0">        
                    <a id="booksTag" class="nav-item nav-link" [routerLink]="['/books/list']" [queryParams]="{allbooks: 'yes'}">Books</a>
                    <a id="authors-navbar-item" class="nav-item nav-link" routerLink="/authors/list">Authors</a>
                    <a id="editorials-navbar-item" class="nav-item nav-link" routerLink="/editorials/list">Editorials</a>
                </div>

            </nav>
        </div>
        <div class="col">
            <ul class="nav navbar-nav navbar-righ">
                <li><a id="signup-navbar-item" class="nav-item nav-link" href="#">Sign Up</a></li>
                <li><a id="login-navbar-item" class="nav-item nav-link" href="#">Login</a></li>
            </ul> 

        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
            <br>
            <br>
        </div>
    </div>
    <footer class="footer bg-light" id="footer">
        <div class="container">
            <p class="navbar-text text-center">
                <img src="../assets/uniandes.png" alt="logo" width="8%" /><span id="footer-text">© Ejemplo Desarrollo de Sw en Equipos. 201820</span>

            </p>
        </div>
    </footer> 
</div>