<div class="container-fluid">
    <h2 *ngIf="reviews.length == 0">This book has no reviews!</h2>
    <div *ngIf="reviews.length > 0">
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Reviews of the book
            </button>
        </p>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let review of reviews | paginate: { itemsPerPage: 3, currentPage: page }">
                        <td><span id="book-reviewed"><b>{{review.book.name}}</b></span><span>: </span><span id="review-description">{{review.description}}</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-12 text-center">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>